<a href="https://colab.research.google.com/github/eaishwa/sql-twitter-analysis/blob/master/SQL_Twitter_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Graph Analysis

Many graph analysis compute network centrality, density, shortest paths, and other path-based statistics about a graph.  It may seem that writing a one-off Python script is a good way to perform this analysis, but it turns out that SQL is pretty great at doing this type of analysis!  

## Background of the Data
In this project, I have done a graph analysis to analyze Tweets from [**Twitter Elections Integrity Dataset**](https://about.twitter.com/en_us/values/elections-integrity.html#data).

- Justice Department charged 13 Russian nationals with interfering in American electoral and political processes. The defendants worked for a well-funded “troll factory” called the Internet Research Agency(**IRA**).
- IRA ran a campaign to sow disinformation and discord into American politics via social media (mostly twitter).
- Dataset includes information from 3613 accounts believed to be connected to the Russian Internet Research Agency.

#### Twitter IRA dataset

In reality, the twitter dataset contains the following attributes.

```
tweetid                   # tweet id
userid                    # user id (hashed for users which had fewer than 5,000 followers) 
user_display_name         # name of user (same as userid for anonymized users)
user_screen_name          # the Twitter handle of the user
user_reported_location    # self-reported location
……
```

Please check [Twitter Elections Integrity Datasets Readme](https://storage.googleapis.com/twitter-election-integrity/hashed/Twitter_Elections_Integrity_Datasets_hashed_README.txt) for full description

In [0]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

### Test settings and check the IRA dataset

In [0]:
# set the max display column
import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [0]:
%%bigquery --project project-2-db
SELECT *
FROM `project2-236400.twitter.IRA` 
LIMIT 5

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,...,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices
0,776360750604492800,201334945,Андрей Манзолевский,Manzal_,Russia,"Блогер, публицист, гражданин, начальник",http://t.co/lsUS2Frfjj,23245,3298,2010-10-11,...,,,2,2,3,9,[],[],,
1,300682957591564290,201334945,Андрей Манзолевский,Manzal_,Russia,"Блогер, публицист, гражданин, начальник",http://t.co/lsUS2Frfjj,23245,3298,2010-10-11,...,,,0,0,0,0,,,[368224442],
2,145886722834710529,201334945,Андрей Манзолевский,Manzal_,Russia,"Блогер, публицист, гражданин, начальник",http://t.co/lsUS2Frfjj,23245,3298,2010-10-11,...,,,0,0,0,0,,,[342321377],
3,733924993210408960,201334945,Андрей Манзолевский,Manzal_,Russia,"Блогер, публицист, гражданин, начальник",http://t.co/lsUS2Frfjj,23245,3298,2010-10-11,...,,,0,0,36,65,[],[],,
4,755811790764802049,201334945,Андрей Манзолевский,Manzal_,Russia,"Блогер, публицист, гражданин, начальник",http://t.co/lsUS2Frfjj,23245,3298,2010-10-11,...,,,2,1,42,137,[],[http://manzal.livejournal.com/425928.html],,

## Step 1

Find the `id` and `text` of Tweets that contain  "MakeAmericaGreatAgain" **and** "Trump" (both **case-insensitive**) .  

For example:

* "#VoteTrump and lets all help #**Trump** #**makeamericagreatagain**" is a match
* "#**Trump** This was our moment. Together, we will **make America great again**!" is not a match

In [0]:
%%bigquery --project project-2-db

SELECT tweetid as id, tweet_text as text
FROM `project2-236400.twitter.IRA` 
WHERE LOWER(tweet_text)
LIKE LOWER('%MakeAmericaGreatAgain%')
AND LOWER(tweet_text)
LIKE LOWER('%Trump%')

                      id                                               text
0     632961738191695872  #DonaldTrump would not rip up the Iran deal  #...
1     709598519632404480  Are you ready for #AmericanRenaissance ? RT if...
2     796071368043413504  IT'S DEFINITELY OBVIOUS....  #VoteTrump #EricT...
3     895678567207628800  RT EricTrump: #MakeAmericaGreatAgain!!! 🇺🇸🇺🇸 h...
4     796125831152148480  ΚΑΙ ΠΟΛΥ ΣΑΣ ΕΙΝΑΙ #MakeAmericaGreatAgain http...
5     796118457905532929  #Election2016 #TrumpPence16 #HillaryForPrison2...
6     877843648775430149  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
7     876016634825191424  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
8     874974723335233537  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
9     876424301934768129  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
10    877481236201132032  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
11    877843650650165249  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
12    876394090505658368  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
13    796263762399404032  CONGRATULATIONS, @REALDONALDTRUMP!  YOU ARE NO...
14    876379028957089793  🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸🇺🇸 President Trump will ...
15    805578977360257025  RT @DanScavino: .@realDonaldTrump news report ...
16    837195259692068865  RT @UTHornsRawk: #JeffSessions #PJNET #Pizzaga...
17    813420268387438592  RT @hottiesfortrump: She means the best so far...
18    670645217582841860  @realDonaldTrump #LiberalLogic  #MakeAmericaGr...
19    641257127986745345  Nixon sent an admiring letter to Donald Trump ...
20    712008640543068162  Illegals rush to vote against Donald Trump. Th...
21    714888503105044482  #TrumpSuperPowers being able to beat the estab...
22    708790826210562049  This is answer to all rioters at #TrumpRallyCh...
23    763466955756015617  Trump sign paid by working American. #MakeAmer...
24    756634833162493952  Thought i saw Mike Pence somewhere in the past...
25    733050757583364097  The difference between Hillary rally and Trump...
26    740611043030896640  Nothing will stop us! Crooked Hillary Clinton ...
27    687018414553042944  Article 'Why they love Trump' https://t.co/8wN...
28    707387802095394816  Donald Trump takes Mississippi and Michigan! M...
29    759145885322321920  Bernie Sanders supporter transformed into a gr...
...                  ...                                                ...
3216  775588206817472513  RT @DonaldJTrumpJr: Looks like we're going to ...
3217  816795915512139776  RT @DaysOfTrump: 16 Days to #Trump : Counting ...
3218  777168566248476672  RT @DaystoTrump: 52 Days to #Trump : Counting ...
3219  777046249161777152  RT @WeNeedTrump: The Democratic agenda is dest...
3220  667340900817702912  RT @amrightnow: "The Real Trump" Make Veteran'...
3221  776027052696801282  RT @Trump_World: @realDonaldTrump  #Media #GOP...
3222  774218584461639681  RT @keksec__org: @realDonaldTrump It's time to...
3223  676409515244433408  RT @MissAmericaPie: WHITE PPL ALONE WILL WIN w...
3224  718041086632017920  RT @4inspiration2: Vote For The Endurance of A...
3225  838548712313909248  RT @KazeSkyz: Who do you believe America?  #Ob...
3226  823765681107668992  RT @The_Trump_Train: Check out the #TrumpPence...
3227  805648015872573440  RT @WeNeedTrump: General 'Mad Dog' Mattis is g...
3228  820536147017277444  RT @SoldierGio: RETWEET if you voted for Donal...
3229  846839670390575104  RT @TheJackSmithian: YES! #TRUMP #MAGA #MakeAm...
3230  800561804426420224  RT @SmurfBoobs: #LoveTrumpsHate #CuckBehaviour...
3231  817464897063632896  RT @DanScavino: My last @Vine for the #TrumpTr...
3232  823811993471590401  RT @The_Trump_Train: RETWEET if you think Sean...
3233  855875484864856064  RT @Don_Vito_08: @realDonaldTrump #MakeAmerica...
3234  757055177576685568  RT @realDonaldTrump: #MakeAmericaGreatAgain #T...
3235  804067687164846080  RT @GOP: Since Nov 8th, Pres-elect @realDonald...
3236  707470182604795905  RT @LollieCouture: #Proud #Americans #Vote #Al...
3237  676510146550505472  RT @realDonaldTrump: Record of Health: https:/...
3238  781600781292204032  RT @theglobaluniter: .@realDonaldTrump   I am ...
3239  845751374394593280  RT @DanScavino: Saw the #TrumpTrain out front ...
3240  777099145739853824  RT @amrightnow: #Realdonaldtrump Follow The Ro...
3241  770294534064467968  RT @DanScavino: .@EricTrump 100% correct re: o...
3242  827592373278535684  RT @Tea_Party_Chris: #DrainTheSwamp #AmericaFi...
3243  779299017876463617  RT @america_trump: 💥Massive afternoon #TrumpRa...
3244  689812796804968453  RT @Stonewall_77: Obama's Place In US History ...
3245  764530195906826240  RT @TheDonWins: Hillary hasn't held a news con...

[3246 rows x 2 columns]

## Step 2
"**MakeAmericaGreatAgain**" (often abbreviated as MAGA) is a campaign slogan used in American politics that was popularized by Donald Trump in his successful 2016 presidential campaign.

Let's Find out Top 5 month gets the maximum mention of this slogan
"MakeAmericaGreatAgain"(**case-insensitive**) in `tweet_text` .

In [0]:
%%bigquery --project project-2-db

WITH temp AS (
SELECT EXTRACT(YEAR FROM tweet_time) AS year, EXTRACT(MONTH FROM tweet_time) as month, tweetid
FROM `project2-236400.twitter.IRA`
WHERE LOWER(tweet_text)
LIKE LOWER('%MakeAmericaGreatAgain%')
AND LOWER(tweet_text)
LIKE LOWER('%Trump%')
)
SELECT year, month, COUNT(tweetid) AS num
FROM temp
GROUP BY year, month
ORDER BY num DESC
LIMIT 5

   year  month   num
0  2017      6  1637
1  2016     11   341
2  2015      8   151
3  2016      2   149
4  2016     12   136

## Step 3   
**Let's construct the Graph!**

Tweets and retweets can be used to construct the graph where each row is an edge between `userid` and `retweet_userid`.A table “Graph” is created with column names src and dst which stores the edge list of the graph. Only the distinct edges in the table are stored. One user might retweet another user's tweet more than one time. In this case, edge is saved only once (i.e. only one row in the graph table).

The resulting table contains the following columns:
- src (userid)
- dst (retweet_userid)

In [0]:
%%bigquery --project project-2-db

CREATE OR REPLACE TABLE dataset.Graph AS
(
SELECT DISTINCT userid as src, retweet_userid as dst
from `project2-236400.twitter.IRA`
WHERE userid IS NOT NULL
AND userid <> ''
AND retweet_userid IS NOT NULL
AND retweet_userid <> ''
)

Empty DataFrame
Columns: []
Index: []

## Step 4
The indegree of a node in a directed graph is defined as the number of edges which are incoming on the node. Similarly, the outdegree of a node in a directed graph is defined as the number of edges which are outgoing from the node. For more information, you can read - [Indegree and Outdegree](https://en.wikipedia.org/wiki/Directed_graph#Indegree_and_outdegree)

Using this information, let us find out from the GRAPH table which user has the highest indegree and which user has the highest outdegree.

The output contains the columns:
- max_indegree (userid)
- max_outdegree (userid)

In [0]:
%%bigquery --project project-2-db

WITH temp1 AS
(
SELECT src AS max_outdegree
FROM dataset.Graph 
GROUP BY src
ORDER BY COUNT(src) DESC 
LIMIT 1
),
temp2 AS
(
SELECT dst AS max_indegree
FROM dataset.Graph 
GROUP BY dst
ORDER BY COUNT(dst) DESC 
LIMIT 1
)

SELECT b.max_indegree, a.max_outdegree
from temp1 a, temp2 b

  max_indegree                                      max_outdegree
0   2572896396  a95a911dd6ae864c48ed062cdbe75e5c28dbe0cf57c6db...

## Step 5
Let us define 4 categories of Twitter users in IRA dataset. We will use the average number of likes a user gets on his/her tweets as the first metric and the number of users retweet him (i.e. indegree) as the second metric. Then we can classify each user as follows:
- High indegree, high average number of likes 
- High indegree, low average number of likes
- Low indegree, high average number of likes
- Low indegree, low average number of likes

We will refer to the 'low indegree, low average likes' category of users as "unpopular" users and 'high indegree, high average likes' category of users as "popular" users. 

We define the indegree and average number of likes to be high or low based on the rules below:
   
   1) If `indegree < avg(indegree of all users)` in the graph then indegree is said to be low for the user, else it is considered high.
    
   2) If `avg(likes of all tweets for the user) < avg(likes for all tweets)` in the graph, then the average number of likes is said to be low for the user, else it is considered high.

Now, let us find the conditional probability that given **all tweets from unpopular users**, what is the probability that **they are retweeted from popular users**. We only consider user in this dataset.

The final output contains the column:
- popular_unpopular (conditional probability)

In [0]:
%%bigquery --project project-2-db

-- create table for indegs_unpop
create or replace table dataset.indegs_unpop as
(
with temp as
(
select dst, count(dst) as indegs
from dataset.Graph
group by dst
)
select distinct dst as userid
from temp
where indegs < (select avg(indegs) from temp)
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

create or replace table dataset.likes_unpop as
(
with temp as
(
select userid, avg(like_count) as avg_likes
from `project2-236400.twitter.IRA`
group by userid
)
select distinct userid
from temp
where avg_likes < (select avg(like_count) from `project2-236400.twitter.IRA`)
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

create or replace table dataset.unpop as
(
select distinct u1.userid 
from dataset.likes_unpop u1, dataset.indegs_unpop u2
where u1.userid = u2.userid
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

select count(*) from dataset.pop

   f0_
0   54

In [0]:
%%bigquery --project project-2-db

-- create table for indegs_pop
create or replace table dataset.indegs_pop as
(
with temp as
(
select dst, count(dst) as indegs
from dataset.Graph
group by dst
)
select distinct dst as userid
from temp
where indegs > (select avg(indegs) from temp)
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

create or replace table dataset.likes_pop as
(
with temp as
(
select userid, avg(like_count) as avg_likes
from `project2-236400.twitter.IRA`
group by userid
)
select distinct userid
from temp
where avg_likes > (select avg(like_count) from `project2-236400.twitter.IRA`)
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

create or replace table dataset.pop as
(
select distinct u1.userid 
from dataset.likes_pop u1, dataset.indegs_pop u2
where u1.userid = u2.userid
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

create or replace table dataset.unpoptweets as
(
select unpop.userid, t.tweetid
from dataset.unpop unpop, `project2-236400.twitter.IRA` t
where unpop.userid = t.userid
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

create or replace table dataset.popretweets as
(
select pop.userid, t.retweet_tweetid
from dataset.pop pop, `project2-236400.twitter.IRA` t
where pop.userid = t.userid
)

Empty DataFrame
Columns: []
Index: []

In [0]:
%%bigquery --project project-2-db

select count(unpop.userid)/(select count(*) from dataset.unpoptweets) as popular_unpopular
from dataset.unpoptweets as unpop, dataset.popretweets as pop
where unpop.tweetid = pop.retweet_tweetid

   popular_unpopular
0           0.000107

In [0]:
%%bigquery --project project-2-db

select (select count(*) from dataset.unpoptweets) as popular_unpopular
from dataset.unpoptweets as unpop, dataset.popretweets as pop
where unpop.tweetid = pop.retweet_tweetid

## Step 6
Given a graph G = (V, E), a “triangle” is a set of three vertices that are mutually adjacent in G i.e. given 3 nodes of a graph A, B, C there exist edges A->B, B->C and C->A which form a triangle in the graph. From the graph table created above, let us find out the number of triangles in the graph.

The output contains the columns:
- no_of_triangles

In [0]:
%%bigquery --project project-2-db

select count(*)/3 as no_of_triangles
from dataset.Graph a, dataset.Graph b, dataset.Graph c
where a.dst = b.src 
and b.dst = c.src
and a.src = c.dst
and a.src != a.dst
and b.src != b.dst
and c.src != c.dst

   no_of_triangles
0        1516773.0

## Step 7
Let's check who has the most impact in IRA dataset.

The **PageRank algorithm** is used to rank the importance of nodes in a graph. It works by counting the number of edges incident to a node to determine how important the node is. The underlying assumption is that more important nodes are likely to receive more links from other nodes. Find the top 100 nodes with the highest PageRank in the graph.
It is not possible to use "WITH RECURSIVE" on BigQuery. So let us develop an iterative implementation for PageRank (like the BFS example mentioned below).

The algorithm is run for 20 iterations and the output table contains the following columns:
- twitter_username (the twitter_username of the user)
- page_rank_score



---


This algorithm works as follows - Assume a small universe of four web pages: A, B, C and D. PageRank is initialized to the same value for all pages since we assume a probability distribution between 0 and 1 as the PageRank for each node. Hence the initial value for each page in this example is 0.25. If the only links in the system were from pages B->A, C->A and D->A, each link would transfer 0.25 PageRank to A upon the next iteration, for a total of 0.75 i.e. PR(A) = PR(B) + PR(C) + PR(D). 

Now, suppose instead that we have the links B->C, B->A, C->A, D->A, D->B, D->C. Thus, upon the first iteration, page B would transfer half of its existing value, or 0.125, to page A and the other half, or 0.125, to page C. Page C would transfer all of its existing value, 0.25, to the only page it links to, A. Since D had three outbound links, it would transfer one third of its existing value, or approximately 0.083, to A. At the completion of this iteration, page A will have a PageRank of approximately 0.458.
PR(A)=PR(B)/2 + PR(C)/1 + PR(D)/3.

Thus, we can write the PageRank of A as:
PR(A)= PR(B)/L(B) + PR(C)/L(C) + PR(D)/L(D) where L(x) gives us the number of outbound links for any node x. 

In general, the PageRank value for a page u is dependent on the PageRank values for each page v contained in the set containing all pages linking to page u, divided by the number of links from page v. 
It is given by the formula: ![](https://www.geeksforgeeks.org/wp-content/ql-cache/quicklatex.com-aafd3a0d9f8bb8325cf2b41a4a839bbf_l3.svg)

In [0]:
project_id = 'project-2-db'

In [0]:
from google.cloud import bigquery
client = bigquery.Client(project=project_id)

def pagerank(client, n_iter):
  
  q1 = """
  
  create or replace table dataset.pagerank as 
  (
  select distinct userid, (select 1/count(distinct userid) from `project2-236400.twitter.IRA`) as rank
  from `project2-236400.twitter.IRA` 
  )
  
  """
  
  q2 = """
  
  create or replace table dataset.outdegree as
  (
  select src as userid, count(src) as outdegree
  from dataset.Graph
  group by src
  )
  
  """
  
  job = client.query(q1)
  results = job.result()
  job = client.query(q2)
  results = job.result()
  
  for i in range(0,n_iter):
    print("iteration: " + str(i))
    
    q3 = """
    
    create or replace table dataset.pagerank as
    (
    select g.dst as userid, sum(pr.rank/o.outdegree) as rank
    from dataset.pagerank pr, dataset.outdegree o, dataset.Graph g
    where pr.userid = o.userid and g.src = pr.userid
    group by g.dst
    )
    
    """
    job = client.query(q3)
    results = job.result()
   
  q4 = """
  
  select distinct p.user_display_name as twitter_username, pr.rank
  from `project2-236400.twitter.IRA` p, dataset.pagerank pr
  where p.userid = pr.userid
  order by pr.rank desc
  limit 100
  
  """
  
  job = client.query(q4)
  display(job.to_dataframe())

In [0]:
pagerank(client,20)

iteration: 0
iteration: 1
iteration: 2
iteration: 3
iteration: 4
iteration: 5
iteration: 6
iteration: 7
iteration: 8
iteration: 9
iteration: 10
iteration: 11
iteration: 12
iteration: 13
iteration: 14
iteration: 15
iteration: 16
iteration: 17
iteration: 18
iteration: 19

                                     twitter_username          rank
0   4066d5682033750329f2ccae4e6bb049128ea4ab2273ec...  2.727025e-04
1   dd3e6a1f6e52a64ace2b64d92f8612456225be9bc6ecf7...  2.727025e-04
2   f53718cfb6d0333d9d89b8af297735e32410a8823f38dd...  2.727025e-04
3                                       Вестник Крыма  4.515136e-05
4                                  Вестник Петербурга  4.506164e-05
5                                        Вестник Тулы  4.499626e-05
6                                Вестник Новосибирска  4.470186e-05
7                                  Вестник Челябинска  4.464964e-05
8                                     Вестник Ростова  4.419366e-05
9                                    Вестник Воронежа  4.418355e-05
10                                     Вестник Москвы  4.395173e-05
11                               Вестник Екатеринбург  4.226873e-05
12                                Вестник Н.Новгорода  4.158973e-05
13                                     Вестник Казани  4.148677e-05
14                                      Вестник Омска  4.145461e-05
15                                        Вестник Уфы  4.136014e-05
16                                      Вестник Перми  4.112686e-05
17                                Вестник Красноярска  4.093338e-05
18                                  Вестник Ярославля  4.093338e-05
19                                 Вестник Волгограда  2.085357e-05
20                                     Вестник России  9.360326e-06
21                                    Вестник Донецка  5.193714e-06
22                                   Вестник Луганска  4.712008e-06
23                                           Замполит  4.633612e-06
24                                    Открытая Россия  3.111026e-06
25                                    Невские Новости  3.041827e-06
26  7647db94f0b18ae62c87a45eb849fe3e946836eb48004d...  2.739423e-06
27                                    Вестник Дамаска  2.331419e-06
28                                   Максим Дементьев  2.040970e-06
29                                      Николай Зубов  1.670760e-06
..                                                ...           ...
70  2b8853ccd64fb5788065ff5b212ccb76a209878cd44e1e...  7.008709e-08
71  bee7d3ea2fb7ece347e636f3c21b9340e1e17626bfd754...  6.853179e-08
72  813f4ae8aa7c4b1e7a9abd6de08f3786286b45f90d157b...  6.793728e-08
73  a53ed619f1dea6015c7c878bf744b0eefe8f7272dccf34...  6.652913e-08
74  2da8f73ff3ed4ad9e3ca499c99f2b713bc53c379efaed5...  6.637581e-08
75                                    Союзники России  6.543126e-08
76  aa6d42bfd479088dd39ad698cb7a465be95403eb34720a...  6.490825e-08
77                                    Мария Можайская  6.484163e-08
78  d5a47dddd77b53c4bf88c26039b728ee144a88e51176f7...  6.328172e-08
79  18738863ea4ba967a6d6697671189c805837b15f8f0ae6...  6.314946e-08
80  eef41019a744ac16d8f954de66010d5a263f594aad8224...  6.314168e-08
81                                     Рамзан Кадыров  6.312646e-08
82  c33d38ef0d11affe426ee782958b3e509d620e24fcfb20...  6.259328e-08
83  8082409924dba910bb0f6d83eab660e417a1e48deaad4e...  6.205409e-08
84  f3dc1d33a7919b096373e8000ddf8102c1d7f51804319a...  6.127865e-08
85  eeb98f72837186582339c2ffb6ca701975a74c8479894a...  6.085764e-08
86  d4a474a1c8d2e1b7a731f7c9034fc9bf2703bc925ded58...  6.067866e-08
87  571772d70695f1d107472ae6a7d2c252fbed1b3b63d214...  6.014731e-08
88  8f39bc23dbcf87ee4ef0fb211dddcb093c5b93fa381a93...  6.010770e-08
89  eabac6b035421a5e099e8696beb59fe7c49b2693760e68...  6.007676e-08
90  4cf8240d55449ba3fc6ccaa4c82146c94d2cebc8087aad...  5.988122e-08
91  7ca2bb958f039d6e34c41388088e468b26c0643321b988...  5.972222e-08
92  2de7f0f489dbb292f8c5c859c72d47620e1a2cf02c7eb8...  5.959334e-08
93  3eb62b719b9bf08a2ba7e05e1b9f251b1a93e159486d3e...  5.787270e-08
94  cf6b4210b49bbaaf318fab107e2cd6eae47a5cb4219b31...  5.694540e-08
95  778fcd5b09b0cf87b5d703cf31585d601da204d4bb6150...  5.692200e-08
96  a9162ae9b73688304d336a0ba4c1b71ff6b99f1e127e38...  5.582613e-08
97  20b28fd6a591079b36cbdf2e128653ee7e77afd9e3f197...  5.551154e-08
98  2ee73509ad25588dd5b6938a22fea344285ec2301fa921...  5.533468e-08
99  c517e89388486b55da879015affc277de758ef4caa8da5...  5.530939e-08

[100 rows x 2 columns]